trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  stagename: 'Build'
  newstage: 'Release'

jobs:
  - job: BuildJob
    steps:
      - script: echo $(stagename)
        displayName: 'Display Stage Name'

      - script: echo $(newstage)
        displayName: 'Display New Stage Name'

      - script: echo $(country)


