trigger:
  - main  

pool:
  vmImage: 'ubuntu-latest'  

variables:
  appName: 'MyApp'
  envName: 'Development'
  message: 'Welcome to Azure Pipeline'

steps:
  - script: echo $(message)
            echo $(message)

  - script: |
      echo "Application Name: $(appName)"
      echo "Environment Name: $(envName)"

